.confirmed-container {
    position: relative;
    width: 100%;
    height: 1700px;
    border-top: 20px solid #f4ce14;
    background-position: center;
    background-image: url("../images/table.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: repeat(2, 850px);
    z-index: 1;
}

.title h1 {
  position: relative;
  z-index: 1;
  font-family: "Tagesschrift", sans-serif;
  font-size: 70px;
  top: 200px;
  color: #f4ce14;
  font-weight: bold;
}

.title h2 {
  position: relative;
  z-index: 1;
  font-family: "Tagesschrift", sans-serif;
  font-size: 43px;
  top: 200px;
  color: white;
}

.confirmed-icon {
  width: 350px;
  height: 350px;
  left: 37%;
  top: 160px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.datas {
  position: relative;
  border-radius: 12px;
  background-color: #495e57;
  height: 550px;
  width: 800px;
  left: 273px;
  border-top: 20px solid #f4ce14;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-row-gap: 50px;
  padding-left: 50px;
}

.datas h2 {
  grid-column: 1 / span 2;
  position: relative;
  background-color: #f4ce14;
  font-size: 28px;
  font-weight: bold;
  font-family: "Tagesschrift", sans-serif;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 250px;
  left: 33%;
}

.booking,
.booking-details {
  position: relative;
  align-items: left;
  display: flex;
  justify-content: left;
}

.booking-details {
  margin-left: 15px;
}

.datas li {
  position: relative;
  list-style: none;
  text-align: left;
  margin-bottom: 20px;
  font-family: "Embed code", serif;
  font-size: 28px;
  color: white;
  font-weight: bold;
}

.last-name {
  margin-left: 8px;
}

.datas .sign {
  color: #f4ce14;
  font-family: "Tagesschrift", sans-serif;
  font-weight: bold;  
  font-size: 32px;
  margin-right: 15px;
}

.button {
  position: relative;
  background-color: #ecc607;
  font-family: "Tagesschrift", sans-serif;
  color: white;
  max-width: 800px;
  max-height: 500px;
  border-radius: 12px;
  font-size: 65px;
  height: 100px;
  width: 400px;
  margin-top: 60px;
  box-shadow: inset 7px 7px 1px rgb(235, 247, 2), inset -7px -7px 1px rgb(143, 136, 1);

  &:hover {
  background-color: #ffd60a;
  box-shadow: 0 0 30px rgb(235, 247, 2);
  transition: all 0.8s ease;
  }

  &:active {
    background-color: #d4b204;
    transition: all 0.2s ease;
    box-shadow: none;
  }
}
